html,body {
  background: #4d7c8aff;
  max-width: 90%;
  margin: auto;

}

#container {
  width: 100%;
  background: #7f9c96ff;
  margin: auto;
}

a:visited {
  color: #8fad88ff
}

section {

}

article {
  color: #cbdf90ff;
  width: 90%;
  margin: 30px;
  font-family: "Segoe IU";
  background-color: #1b4079ff;
  padding: 15px;

}

p {
  padding-left:10px

}

ul {
  color: #cbdf90ff;
  width: 80%;
  margin: 30px;
  font-family: "Segoe IU";
  background-color: #1b4079ff;
}

li {
  padding: 5px;
}

header1 {
  color: #8fad88ff;
  font-size: 20pt;
  font-weight: bold;
}

header2 {
  color: #8fad88ff;
  font-size: 18pt;
  font-weight: bold;
}

header3 {
  color: #8fad88ff;
  font-size: 14pt;
  font-weight: bold;
}
