html,body {
  background: #cbdf90ff;
  max-width: 90%;
  margin: auto;

}

#container {
  width: 90%;
  background: #7f9c96ff;
}

sectiontitle {
  width: 90%;
  background: #4d7c8aff
}

sectioncontent {
  width:85%;
  background:  #7f9c96ff;
  margin: 40px;
}

p,ul,li {
  color: #cbdf90ff;
  width: 80%;
  margin: 30px;
  font-family: "Segoe IU";
  background-color: #1b4079ff;
  padding: 10px;

}

h1,h2,h3 {
  color: #cbdf90ff;
  margin: 20px;
}
