html,body {
  background: #4d7c8aff;
  max-width: 90%;
  margin: auto;

}

#container {
  width: 90%;
  background: #7f9c96ff;
}

a:visited {
  color: #8fad88ff
}

sectiontitle {
  width: 90%;
  background: #4d7c8aff
}

article {
  color: #cbdf90ff;
  width: 80%;
  margin: 30px;
  font-family: "Segoe IU";
  background-color: #1b4079ff;
  padding: 15px;

}

p {
  padding-left:10px

}

ul {
  color: #cbdf90ff;
  width: 80%;
  margin: 30px;
  font-family: "Segoe IU";
  background-color: #1b4079ff;
}

li {
  padding: 10px;
}

h1,h2,h3 {
  color: #8fad88ff;

}
